[submodule "cl-muth"]
	path = cl-muth
	url = https://github.com/borodust/cl-muth.git
[submodule "cl-flow"]
	path = cl-flow
	url = https://github.com/borodust/cl-flow.git
[submodule "bodge-ode"]
	path = bodge-ode
	url = https://github.com/borodust/bodge-ode.git
[submodule "bodge-sndfile"]
	path = bodge-sndfile
	url = https://github.com/borodust/bodge-sndfile.git
[submodule "bodge-nuklear"]
	path = bodge-nuklear
	url = https://github.com/borodust/bodge-nuklear.git
[submodule "bodge-nanovg"]
	path = bodge-nanovg
	url = https://github.com/borodust/bodge-nanovg.git
[submodule "cl-bodge"]
	path = cl-bodge
	url = https://github.com/borodust/cl-bodge.git
[submodule "bodge-blobs"]
	path = bodge-blobs
	url = git@github.com:borodust/bodge-blobs.git
[submodule "bodge-blobs-darwin-x86-64"]
	path = bodge-blobs-darwin-x86-64
	url = git@github.com:borodust/bodge-blobs-darwin-x86-64.git
[submodule "cl-autowrap"]
	path = cl-autowrap
	url = git@github.com:borodust/cl-autowrap.git
[submodule "bodge-blobs-linux-x86-64"]
	path = bodge-blobs-linux-x86-64
	url = git@github.com:borodust/bodge-blobs-linux-x86-64.git
[submodule "cffi"]
	path = cffi
	url = git@github.com:borodust/cffi.git
[submodule "bodge-blobs-windows-x86-64"]
	path = bodge-blobs-windows-x86-64
	url = git@github.com:borodust/bodge-blobs-windows-x86-64.git
[submodule "bodge-glad"]
	path = bodge-glad
	url = git@github.com:borodust/bodge-glad.git
[submodule "trivial-gamekit"]
	path = trivial-gamekit
	url = git@github.com:borodust/trivial-gamekit.git
[submodule "bodge-blobs-support"]
	path = bodge-blobs-support
	url = git@github.com:borodust/bodge-blobs-support.git
[submodule "bodge-async"]
	path = bodge-async
	url = git@github.com:borodust/bodge-async.git
[submodule "hello-gamekit"]
	path = hello-gamekit
	url = git@github.com:borodust/hello-gamekit.git
