[submodule "cl-muth"]
	path = cl-muth
	url = https://github.com/borodust/cl-muth.git
[submodule "cl-flow"]
	path = cl-flow
	url = https://github.com/borodust/cl-flow.git
[submodule "bodge-ode"]
	path = bodge-ode
	url = https://github.com/borodust/bodge-ode.git
[submodule "bodge-sndfile"]
	path = bodge-sndfile
	url = https://github.com/borodust/bodge-sndfile.git
[submodule "bodge-nuklear"]
	path = bodge-nuklear
	url = https://github.com/borodust/bodge-nuklear.git
[submodule "bodge-nanovg"]
	path = bodge-nanovg
	url = https://github.com/borodust/bodge-nanovg.git
[submodule "cl-bodge"]
	path = cl-bodge
	url = https://github.com/borodust/cl-bodge.git
[submodule "bodge-blobs"]
	path = bodge-blobs
	url = https://github.com/borodust/bodge-blobs.git
[submodule "bodge-blobs-darwin-x86-64"]
	path = bodge-blobs-darwin-x86-64
	url = https://github.com/borodust/bodge-blobs-darwin-x86-64.git
[submodule "cl-autowrap"]
	path = cl-autowrap
	url = https://github.com/borodust/cl-autowrap.git
[submodule "bodge-blobs-linux-x86-64"]
	path = bodge-blobs-linux-x86-64
	url = https://github.com/borodust/bodge-blobs-linux-x86-64.git
[submodule "cffi"]
	path = cffi
	url = https://github.com/borodust/cffi.git
[submodule "bodge-blobs-windows-x86-64"]
	path = bodge-blobs-windows-x86-64
	url = https://github.com/borodust/bodge-blobs-windows-x86-64.git
[submodule "bodge-glad"]
	path = bodge-glad
	url = https://github.com/borodust/bodge-glad.git
[submodule "trivial-gamekit"]
	path = trivial-gamekit
	url = https://github.com/borodust/trivial-gamekit.git
[submodule "bodge-blobs-support"]
	path = bodge-blobs-support
	url = https://github.com/borodust/bodge-blobs-support.git
[submodule "bodge-async"]
	path = bodge-async
	url = https://github.com/borodust/bodge-async.git
[submodule "hello-gamekit"]
	path = hello-gamekit
	url = https://github.com/borodust/hello-gamekit.git
[submodule "bodge-autowrap"]
	path = bodge-autowrap
	url = https://github.com/borodust/bodge-autowrap.git
[submodule "notalone"]
	path = notalone
	url = https://github.com/borodust/notalone.git
[submodule "simple-flow-dispatcher"]
	path = simple-flow-dispatcher
	url = https://github.com/borodust/simple-flow-dispatcher.git
[submodule "base-blobs"]
	path = base-blobs
	url = https://github.com/borodust/base-blobs.git
[submodule "ode-blob"]
	path = ode-blob
	url = https://github.com/borodust/ode-blob.git
[submodule "openal-blob"]
	path = openal-blob
	url = https://github.com/borodust/openal-blob.git
[submodule "bodge-openal"]
	path = bodge-openal
	url = https://github.com/borodust/bodge-openal.git
[submodule "bodge-glfw"]
	path = bodge-glfw
	url = https://github.com/borodust/bodge-glfw.git
[submodule "async-blob"]
	path = async-blob
	url = https://github.com/borodust/async-blob.git
[submodule "glfw-blob"]
	path = glfw-blob
	url = https://github.com/borodust/glfw-blob.git
[submodule "sndfile-blob"]
	path = sndfile-blob
	url = https://github.com/borodust/sndfile-blob.git
[submodule "nanovg-blob"]
	path = nanovg-blob
	url = https://github.com/borodust/nanovg-blob.git
[submodule "glad-blob"]
	path = glad-blob
	url = https://github.com/borodust/glad-blob.git
[submodule "nuklear-blob"]
	path = nuklear-blob
	url = https://github.com/borodust/nuklear-blob.git
[submodule "claw"]
	path = claw
	url = https://github.com/borodust/claw.git
[submodule "cl-svg-polygon"]
	path = cl-svg-polygon
	url = https://github.com/borodust/cl-svg-polygon.git
[submodule "ball-z-2d"]
	path = ball-z-2d
	url = https://github.com/borodust/ball-z-2d.git
[submodule "bodge-chipmunk"]
	path = bodge-chipmunk
	url = https://github.com/borodust/bodge-chipmunk.git
[submodule "chipmunk-blob"]
	path = chipmunk-blob
	url = https://github.com/borodust/chipmunk-blob.git
[submodule "doxy"]
	path = doxy
	url = https://github.com/borodust/doxy.git
[submodule "assimp-blob"]
	path = assimp-blob
	url = https://github.com/borodust/assimp-blob.git
[submodule "bodge-assimp"]
	path = bodge-assimp
	url = https://github.com/borodust/bodge-assimp.git
[submodule "bodge-converter"]
	path = bodge-converter
	url = https://github.com/borodust/bodge-converter.git
[submodule "hello-bodge-graphics"]
	path = hello-bodge-graphics
	url = https://github.com/borodust/hello-bodge-graphics.git
[submodule "hello-bodge-physics"]
	path = hello-bodge-physics
	url = https://github.com/borodust/hello-bodge-physics.git
[submodule "bodge-utilities"]
	path = bodge-utilities
	url = https://github.com/borodust/bodge-utilities.git
[submodule "bodge-ui"]
	path = bodge-ui
	url = https://github.com/borodust/bodge-ui.git
[submodule "bodge-memory"]
	path = bodge-memory
	url = https://github.com/borodust/bodge-memory.git
[submodule "bodge-math"]
	path = bodge-math
	url = https://github.com/borodust/bodge-math.git
[submodule "bodge-host"]
	path = bodge-host
	url = https://github.com/borodust/bodge-host.git
[submodule "bodge-concurrency"]
	path = bodge-concurrency
	url = https://github.com/borodust/bodge-concurrency.git
[submodule "bodge-canvas"]
	path = bodge-canvas
	url = https://github.com/borodust/bodge-canvas.git
[submodule "bodge-mecab"]
	path = bodge-mecab
	url = https://github.com/borodust/bodge-mecab.git
[submodule "mecab-blob"]
	path = mecab-blob
	url = https://github.com/borodust/mecab-blob.git
[submodule "bodge-tesseract"]
	path = bodge-tesseract
	url = https://github.com/borodust/bodge-tesseract.git
[submodule "tesseract-blob"]
	path = tesseract-blob
	url = https://github.com/borodust/tesseract-blob.git
[submodule "vinoyaku"]
	path = vinoyaku
	url = https://github.com/borodust/vinoyaku.git
[submodule "hello-bodge"]
	path = hello-bodge
	url = https://github.com/borodust/hello-bodge.git
[submodule "bodge-five"]
	path = bodge-five
	url = https://github.com/borodust/bodge-five.git
[submodule "five-blob"]
	path = five-blob
	url = https://github.com/borodust/five-blob.git
[submodule "bodge-canvas-ui"]
	path = bodge-canvas-ui
	url = https://github.com/borodust/bodge-canvas-ui.git
[submodule "bamboozy"]
	path = bamboozy
	url = https://github.com/borodust/bamboozy.git
[submodule "bodge-tesseract-v3"]
	path = bodge-tesseract-v3
	url = https://github.com/borodust/bodge-tesseract-v3.git
[submodule "tesseract-blob-v3"]
	path = tesseract-blob-v3
	url = https://github.com/borodust/tesseract-blob-v3.git
[submodule "bodge-ui-window"]
	path = bodge-ui-window
	url = https://github.com/borodust/bodge-ui-window.git
[submodule "bodge-demo"]
	path = bodge-demo
	url = https://github.com/borodust/bodge-demo.git
[submodule "hello-canvas-framebuffer"]
	path = hello-canvas-framebuffer
	url = https://github.com/borodust/hello-canvas-framebuffer.git
[submodule "trivial-docstring"]
	path = trivial-docstring
	url = https://github.com/borodust/trivial-docstring.git
[submodule "trivial-gamekit-fistmachine"]
	path = trivial-gamekit-fistmachine
	url = https://github.com/borodust/trivial-gamekit-fistmachine.git
[submodule "trivial-gamekit-input-handler"]
	path = trivial-gamekit-input-handler
	url = https://github.com/borodust/trivial-gamekit-input-handler.git
[submodule "notalone-again"]
	path = notalone-again
	url = https://github.com/borodust/notalone-again.git
[submodule "trivial-gamekit-postproc"]
	path = trivial-gamekit-postproc
	url = https://github.com/borodust/trivial-gamekit-postproc.git
[submodule "bodge-inspector"]
	path = bodge-inspector
	url = https://github.com/borodust/bodge-inspector.git
[submodule "bodge-queue"]
	path = bodge-queue
	url = https://github.com/borodust/bodge-queue.git
[submodule "nuklear-renderer-blob"]
	path = nuklear-renderer-blob
	url = https://github.com/borodust/nuklear-renderer-blob.git
[submodule "bodge-nuklear-renderer"]
	path = bodge-nuklear-renderer
	url = https://github.com/borodust/bodge-nuklear-renderer.git
[submodule "bodge-heap"]
	path = bodge-heap
	url = https://github.com/borodust/bodge-heap.git
[submodule "bodge-libc-essentials"]
	path = bodge-libc-essentials
	url = https://github.com/borodust/bodge-libc-essentials.git
[submodule "bodge-libc"]
	path = bodge-libc
	url = https://github.com/borodust/bodge-libc.git
[submodule "cffi-c-ref"]
	path = cffi-c-ref
	url = https://github.com/borodust/cffi-c-ref.git
[submodule "claw-utils"]
	path = claw-utils
	url = https://github.com/borodust/claw-utils.git
[submodule "bodge-host-native"]
	path = bodge-host-native
	url = https://github.com/borodust/bodge-host-native.git
