[submodule "cl-muth"]
	path = cl-muth
	url = https://github.com/borodust/cl-muth.git
[submodule "cl-flow"]
	path = cl-flow
	url = https://github.com/borodust/cl-flow.git
[submodule "bodge-ode"]
	path = bodge-ode
	url = https://github.com/borodust/bodge-ode.git
[submodule "bodge-sndfile"]
	path = bodge-sndfile
	url = https://github.com/borodust/bodge-sndfile.git
[submodule "bodge-nuklear"]
	path = bodge-nuklear
	url = https://github.com/borodust/bodge-nuklear.git
[submodule "bodge-nanovg"]
	path = bodge-nanovg
	url = https://github.com/borodust/bodge-nanovg.git
[submodule "cl-bodge"]
	path = cl-bodge
	url = https://github.com/borodust/cl-bodge.git
[submodule "bodge-blobs"]
	path = bodge-blobs
	url = https://github.com/borodust/bodge-blobs.git
[submodule "bodge-blobs-darwin-x86-64"]
	path = bodge-blobs-darwin-x86-64
	url = https://github.com/borodust/bodge-blobs-darwin-x86-64.git
[submodule "cl-autowrap"]
	path = cl-autowrap
	url = https://github.com/borodust/cl-autowrap.git
[submodule "bodge-blobs-linux-x86-64"]
	path = bodge-blobs-linux-x86-64
	url = https://github.com/borodust/bodge-blobs-linux-x86-64.git
[submodule "cffi"]
	path = cffi
	url = https://github.com/borodust/cffi.git
[submodule "bodge-blobs-windows-x86-64"]
	path = bodge-blobs-windows-x86-64
	url = https://github.com/borodust/bodge-blobs-windows-x86-64.git
[submodule "bodge-glad"]
	path = bodge-glad
	url = https://github.com/borodust/bodge-glad.git
[submodule "trivial-gamekit"]
	path = trivial-gamekit
	url = https://github.com/borodust/trivial-gamekit.git
[submodule "bodge-blobs-support"]
	path = bodge-blobs-support
	url = https://github.com/borodust/bodge-blobs-support.git
[submodule "bodge-async"]
	path = bodge-async
	url = https://github.com/borodust/bodge-async.git
[submodule "hello-gamekit"]
	path = hello-gamekit
	url = https://github.com/borodust/hello-gamekit.git
[submodule "bodge-autowrap"]
	path = bodge-autowrap
	url = https://github.com/borodust/bodge-autowrap.git
[submodule "notalone"]
	path = notalone
	url = https://github.com/borodust/notalone.git
[submodule "simple-flow-dispatcher"]
	path = simple-flow-dispatcher
	url = https://github.com/borodust/simple-flow-dispatcher.git
[submodule "base-blobs"]
	path = base-blobs
	url = https://github.com/borodust/base-blobs.git
[submodule "ode-blob"]
	path = ode-blob
	url = https://github.com/borodust/ode-blob.git
[submodule "openal-blob"]
	path = openal-blob
	url = https://github.com/borodust/openal-blob.git
[submodule "bodge-openal"]
	path = bodge-openal
	url = https://github.com/borodust/bodge-openal.git
[submodule "bodge-glfw"]
	path = bodge-glfw
	url = https://github.com/borodust/bodge-glfw.git
[submodule "async-blob"]
	path = async-blob
	url = https://github.com/borodust/async-blob.git
[submodule "glfw-blob"]
	path = glfw-blob
	url = https://github.com/borodust/glfw-blob.git
[submodule "sndfile-blob"]
	path = sndfile-blob
	url = https://github.com/borodust/sndfile-blob.git
[submodule "nanovg-blob"]
	path = nanovg-blob
	url = https://github.com/borodust/nanovg-blob.git
[submodule "glad-blob"]
	path = glad-blob
	url = https://github.com/borodust/glad-blob.git
[submodule "nuklear-blob"]
	path = nuklear-blob
	url = https://github.com/borodust/nuklear-blob.git
[submodule "claw"]
	path = claw
	url = https://github.com/borodust/claw.git
[submodule "clutz"]
	path = clutz
	url = https://github.com/borodust/clutz.git
[submodule "cl-svg-polygon"]
	path = cl-svg-polygon
	url = https://github.com/borodust/cl-svg-polygon.git
[submodule "ball-z-2d"]
	path = ball-z-2d
	url = https://github.com/borodust/ball-z-2d.git
[submodule "bodge-chipmunk"]
	path = bodge-chipmunk
	url = https://github.com/borodust/bodge-chipmunk.git
[submodule "chipmunk-blob"]
	path = chipmunk-blob
	url = https://github.com/borodust/chipmunk-blob.git
[submodule "doxy"]
	path = doxy
	url = https://github.com/borodust/doxy.git
[submodule "bodge-appkit"]
	path = bodge-appkit
	url = https://github.com/borodust/bodge-appkit.git
[submodule "assimp-blob"]
	path = assimp-blob
	url = https://github.com/borodust/assimp-blob.git
[submodule "bodge-assimp"]
	path = bodge-assimp
	url = https://github.com/borodust/bodge-assimp.git
[submodule "bodge-converter"]
	path = bodge-converter
	url = https://github.com/borodust/bodge-converter.git
[submodule "hello-bodge-graphics"]
	path = hello-bodge-graphics
	url = https://github.com/borodust/hello-bodge-graphics.git
[submodule "hello-bodge-physics"]
	path = hello-bodge-physics
	url = https://github.com/borodust/hello-bodge-physics.git
[submodule "bodge-utilities"]
	path = bodge-utilities
	url = https://github.com/borodust/bodge-utilities.git
[submodule "bodge-ui"]
	path = bodge-ui
	url = https://github.com/borodust/bodge-ui.git
[submodule "bodge-memory"]
	path = bodge-memory
	url = https://github.com/borodust/bodge-memory.git
[submodule "bodge-math"]
	path = bodge-math
	url = https://github.com/borodust/bodge-math.git
[submodule "bodge-host"]
	path = bodge-host
	url = https://github.com/borodust/bodge-host.git
[submodule "bodge-concurrency"]
	path = bodge-concurrency
	url = https://github.com/borodust/bodge-concurrency.git
[submodule "bodge-canvas"]
	path = bodge-canvas
	url = https://github.com/borodust/bodge-canvas.git
